<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body>
  <div class="container-fluid">
    <h1 style="color: blue">Koc Exam Scheduler v4</h1>
    <form id=excel_form >
      Number of exam slots: <input type=text size=5 name=slot_count>
      <br>
      Copy paste excel file in the following format:
      <br>
      </br>
      ClassName1   ClassName2    Classname3
      </br>
      ClassName4   ClassName5    Classname6
      </br>
      ...
      </br>
      <textarea name="excel_data" rows="10" cols="30"></textarea>
      <a href=# id=load_excel><button class='btn btn-default'>Submit</button></a>
    </form>
    <a href=# id=reset_schedule><button class='btn btn-default'>Reset Schedule Selections</button></a>
    <img width=0 id=loading src="https://i.imgur.com/gwQOiTQ.gif">
  </div>
</body>

</html>
